// Mixins styles
@mixin banner {
  width: 100%;
  position: relative;
  color: #fff;
  .banner-content {
    position: absolute;
    top: 50px;
    width: 100%;
  }
  img {
    width: 100%;
  }
  span {
    font-size: $bannerHeading;
    display: block;
    text-transform: uppercase;
    font-weight: bold;
  }
  span.title {
    font-weight: normal;
    margin-bottom: 30px;
  }
}

// Mixins for clearing float
@mixin clearFix {
  &:after {
    content: "";
    display: block;
    clear: both;
  }
}

// Mixin For Custom Grid
@mixin grid($cols, $mrgn) {
  float: left;
  margin-right: $mrgn;
  margin-bottom: $mrgn;
  width: ((100% - (($cols - 1) * $mrgn)) / $cols);
  &:nth-child(#{$cols}n) {
    margin-right: 0;
  }
}

// Mixin for Media Query
@mixin mediaQuery($arg) {
  @media screen and (max-width: $arg) {
    @content;
  }
}
