@import "_reset";
@import "_variables";
@import "_mixins";

// Main Nav Styles
#main-nav {
  background: $deepBlue;
  position: sticky;
  top: 0;
  z-index: 999;
  height: 100%;
  ul {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  li {
    flex: 1;
  }
  a {
    color: $offWhite;
    text-decoration: none;
    padding: 16px;
    display: block;
    text-align: center;
    transition: ease-in-out 0.4s;
    &:hover {
      background: #333;
    }
  }
}

// Section heading Styles
section {
  h1 {
    font-size: $sectionHeading;
    color: $deepBlue;
  }
}

// lead Banner
.lead-banner {
  @include banner;
  text-align: right;
}

// Lessons Banner
.lessons-banner {
  @include banner;
  li {
    text-transform: uppercase;
    font-size: 20px;
    max-width: 500px;
    margin: 60px 0;
  }
}

// Projects Section
#projects ul {
  display: flex;
  flex-wrap: wrap;
}
#projects li {
  width: 23%;
  margin: 1%;
  img {
    width: 100%;
  }
}
