@import "_reset";
@import "_variables";
@import "_mixins";

// Main Nav Styles
#main-nav {
  background: $deepBlue;
  position: sticky;
  top: 0;
  z-index: 999;
  height: 100%;
  ul {
    width: 100%;
    @include clearFix;
  }
  li {
    @include grid(6, 0%);
    @include mediaQuery(600px) {
      width: 100%;
    }
  }
  a {
    color: $offWhite;
    text-decoration: none;
    padding: 16px;
    display: block;
    text-align: center;
    transition: ease-in-out 0.4s;
    &:hover {
      background: lighten($color: $deepBlue, $amount: 6);
    }
  }
}

// Services Section Styling
#services {
  li {
    float: left;
    width: 33.33%;
    box-sizing: border-box;
    text-align: center;
  }
  img {
    width: 60%;
    margin: 20px 20%;
  }
  a {
    text-decoration: none;
    color: $deepBlue;
    font-weight: bold;
    &:hover {
      color: complement($deepBlue);
    }
  }
  @include clearFix;
  margin-bottom: 60px;
}

// Section heading Styles
section {
  h1 {
    font-size: $sectionHeading;
    color: $deepBlue;
    text-align: center;
    padding: 1rem 0;
  }
}

// lead Banner
.lead-banner {
  @include banner;
  text-align: right;
}

// Lessons Banner
.lessons-banner {
  @include banner;
  li {
    text-transform: uppercase;
    font-size: 20px;
    max-width: 500px;
    margin: 60px 0;
  }
}

// Projects Section Styling
#projects li {
  @include grid(4, 2%);
  img {
    width: 100%;
  }
}
